body {
    font-family: Georgia, 'Times New Roman', Times, serif
}

.navbar {
    margin: bottom 40px;
}

.navbar { position: fixed;
    z-index: 1000; 
    width: 100%;
    top: 0;
} 

body { 
    padding-top: 50px; /*ajustar texto segun el tamaño de la barra*/
}